{% extends "includes/base.html" %}
{% block content %}
{% if user.groups.all.0.name == "Administrador" or user.groups.all.0.name == "Auxiliar Ejecutivo" %}
<center>
    <h1><b>Eliminaras un Producto</b></h1>
    <hr>
</center>
{% if msj %}
<div class="alert alert-danger">
    {{ msj }}
    <a class="btn btn-success" href="{% url 'administrador:lis-prod' %}"> Volver</a>

</div>
{% else %}
<div class="col-sm-offset-2 col-sm-7 panel panel-default" >
    <form method="post">
      <h2>¿Desea Eliminar el producto {{object.nombre_producto}} ?</h2>
        {% csrf_token %}
        <hr>
        <center>
          <input type="submit" class="btn btn-danger"name="Eliminar" value="Eliminar">
          <a class="btn btn-success" href="{% url 'administrador:lis-prod' %}"> Cancelar</a>
        </center>
    </form>
    <br>
</div>

{% endif %}
{% else %}
{% include "includes/error_atuenticacion.html" %}
{% endif %}
{% endblock %}
