{% extends "includes/base.html" %}
{% block files_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% include "includes/files_tables.html" %}
{% endblock %}

{% block content %}
{% if user.groups.all.0.name == "Administrador" or user.groups.all.0.name == "Auxiliar Ejecutivo" %}
<center>
    <h2>Administrador de Productos</h2>
    <hr>
</center>
{% if lista %}
<a class="btn btn-primary" href="{% url 'administrador:cre-prod'%}" style="background-color: #bd1146;">
    <span class="glyphicon glyphicon-plus"></span><b> Agregar Producto</b>
</a>

<div class="container-fluid">
    <div class="table-responsive ">
        <table id="grid-basic" class="table w3-table-all w3-card-4">
            <thead class="thead-inverse">
                <th id="id-row" data-column-id="id" data-type="numeric">ID</th>
                <th data-column-id="name">Nombre</th>
                <th data-column-id="ren">Rendimiento</th>
                <th data-column-id="anc" data-type="text">Ancho</th>
                <th data-column-id="alt" data-type="text">Alto</th>
                <th data-column-id="lar" data-type="text">Largo</th>
                <th data-column-id="pes" data-type="text">Peso</th>
                <th data-column-id="prefab1" data-type="numeric">$ Fabrica 1ra</th>
                <th data-column-id="preobr1" data-type="numeric">$ Obra 1ra</th>
                <th data-column-id="prefab2" data-type="numeric">$ Fabrica 2da</th>
                <th data-column-id="preobr2" data-type="numeric">$ Obra 2da</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Acciones</th>

            </thead>
            <tbody>
                {% for producto in lista %}
                <tr>
                    <td style="display:hidden;">
                        {{ producto.id}}
                    </td>
                    <td>
                        {{ producto.nombre_producto}}
                    </td>
                    <td>
                        {{ producto.rendimiento_producto}}
                    </td>
                    <td>
                        {{ producto.ancho_producto}}
                    </td>
                    <td>
                        {{ producto.alto_producto}}
                    </td>
                    <td>
                        {{ producto.largo_producto}}
                    </td>
                    <td>
                        {{ producto.peso_producto}}
                    </td>
                    <td>
                        {{ producto.precio_fabrica_primera}}
                    </td>
                    <td>
                        {{ producto.precio_obra_primera}}
                    </td>
                    <td>
                        {{ producto.precio_fabrica_segunda}}
                    </td>
                    <td>
                        {{ producto.precio_obra_segunda}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>




{% else %}
<div class="alert alert-info" role="alert">No hay registros de Productos disponibles
    <a class="btn btn-primary" href="{% url 'administrador:cre-prod'%}">
        <span class="glyphicon glyphicon-pencil"></span>Agregar Producto
    </a>
</div>
{% endif %}
<script>
    $(document).ready(function() {



        var grid = $("#grid-basic").bootgrid({
          labels: {
              noResults: "No se hay Registros en el Sistema",
              search: "Buscar",


          },
            formatters: {
                "commands": function(column, row) {
                    return "<center>" +
                        "<button  class=\"btn btn-xs btn-danger command-delete\" data-row-id=\"" + row.id +
                        "\"><span class=\"glyphicon glyphicon-trash\"></span></button> " +
                        "<button  class=\"btn btn-xs btn-warning command-edit\" data-row-id=\"" + row.id + "\"><span class=\"glyphicon glyphicon-edit\"></span></button>" +
                        "</center>";
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function() {
            /* Executes after data is loaded and rendered */
            grid.find(".command-edit").on("click", function(e) {
                var idproducto = $(this).data("row-id");
                var url = "{% url 'administrador:mod-prod' 0 %}".replace(0, idproducto);
                location.href = url;
            }).end().find(".command-delete").on("click", function(e) {
                var idproducto = $(this).data("row-id");
                var url = "{% url 'administrador:elm-prod' 0 %}".replace(0, idproducto);
                location.href = url;
            });
        });

    });


</script>

{% else %}
{% include "includes/error_atuenticacion.html" %}
{% endif %}
{% endblock%}
{% block files_food %}

{% endblock %}
