<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#0c9a81; color: white;">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-usd">
            </span> Ventas</a>
        </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>
                        <a href="http://www.jquery2dotnet.com">Clientes</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.jquery2dotnet.com">Venta</a> <span class="label label-info">5</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                            Delete Account</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
