{% extends "includes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block files_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% include "includes/files_datepicker.html" %}
{% endblock %}
{% block content %}
{% if msjres%}
<div class="col-sm-12">

  <div class="alert alert-danger fade in row">
      <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </strong>{{msjres}}
  </div>
</div>

{% endif %}
<br>
<div class="col-sm-offset-2 col-sm-7 panel panel-default">
  <br>
    <form method="post">
      <center><h3><b>Nuevo Tanqueo a Maquinaria</b></h3></center><hr>
        {% csrf_token %}
        <div class="col-sm-12 form-group">
        <div class="col-sm-6">
            <label>Fecha Tanqueo</label>
            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                {{form.fecha_tanqueo}}
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            <script type="text/javascript">
                $('.datepicker').datepicker({});
            </script>
        </div>

        <div class="col-sm-6">
            <label>Combustible</label>
                {{form.id_combustible}}
        </div>

        </div>
        <div class="col-sm-12 form-group">
          <div class="col-sm-6">
              <label>Maquina</label>
                  {{form.id_maquina}}
          </div><div class="col-sm-6">
              <label>Cantidad</label>
                  {{form.cantidad_tanqueo}}
          </div>

        </div>

        <div class="col-sm-12">
          <hr></div>

      <div class="col-sm-6">
          <button class="btn btn-success" type="Submit"><b>Guardar</b> <span class="glyphicon glyphicon-ok-sign"></span></button>
          <a class="btn btn-danger" href={% url "produccion:lis-tan" %}><b>Cancelar</b> <span class="glyphicon glyphicon-remove-sign"></span></a>

      </div>
      <div class="col-sm-12">
        <br>

      </div>

    </form>
    <script type="text/javascript">
        $('.datepicker').datepicker({});
    </script>
</div>
{%endblock%}
{% block files_food %}

{% endblock %}
