{% extends "includes/base.html" %}
{% block files_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% include "includes/files_tables.html" %}
{% endblock %}
{% block content %}
{% if user.groups.all.0.name == "Administrador" or user.groups.all.0.name == "Auxiliar Ejecutivo" %}

<center>
    <h2>Administrador de Cargos</h2>
    <hr>
</center>
{% if lista %}
<a class="btn btn-primary" href="{% url 'administrador:cre-car'%}">
    <span class="glyphicon glyphicon-pencil"></span>Agregar Cargo
</a>
<div class="container-fluid ">
    <div class="table-responsive">
        <table id="grid-basic" class="table w3-table-all w3-card-4">
            <thead class="thead-inverse">
                <th style="display:none" id="id-row" data-column-id="id" data-type="numeric" style="display: none;">ID</th>
                <th data-column-id="car">Cargo</th>
                <th data-column-id="cod" data-type="numeric">Código</th>
                <th data-column-id="hsem" data-type="numeric">$ Hrs Semanales</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Acciones</th>
                </th>
            </thead>
            <tbody>
                {% for cargo in lista %}
                <tr>
                  <td>
                      {{ cargo.id}}
                  </td>
                    <td>
                        {{ cargo.nombre_cargo}}
                    </td>
                    <td>
                        {{ cargo.codigo_cargo_DANE}}
                    </td>
                    <td>
                        {{ cargo.horas_semana}}
                    </td>

                    <td>
                        <center>
                            <a class="btn btn-danger" href="{% url 'administrador:elm-car' cargo.id %}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            <a class="btn btn-warning" href="{% url 'administrador:mod-car' cargo.id %}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </center>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<div class="alert alert-info col-md-offset-1 col-md-8" role="alert">No hay registros de Cargos disponibles
    <a class="btn btn-primary" href="{% url 'administrador:cre-car'%}">
        <span class="glyphicon glyphicon-pencil"></span>Agregar Cargo
    </a>
</div>
{% endif %}
<script>
    $(document).ready(function() {

        var grid = $("#grid-basic").bootgrid({
            formatters: {
                "commands": function(column, row) {
                    return "<center>" +
                        "<button  onclick=\"document.getElementById('delete').style.display='block'\" class=\"btn btn-xs btn-danger command-delete\" data-row-id=\"" + row.id +
                        "\"><span class=\"glyphicon glyphicon-trash\"></span></button> " +
                        "<button  class=\"btn btn-xs btn-warning command-edit\" data-row-id=\"" + row.id + "\"><span class=\"glyphicon glyphicon-edit\"></span></button>" +
                        "</center>";
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function() {
            /* Executes after data is loaded and rendered */
            grid.find(".command-edit").on("click", function(e) {
                var idproducto = $(this).data("row-id");
                var url = "{% url 'administrador:mod-car' 0 %}".replace(0, idproducto);
                location.href = url;
            }).end().find(".command-delete").on("click", function(e) {
                var idproducto = $(this).data("row-id");
                var url = "{% url 'administrador:elm-car' 0 %}".replace(0, idproducto);
                location.href = url;
            });
        });
    });
</script>
{% else %}
{% include "includes/error_atuenticacion.html" %}
{% endif %}
{% endblock%}
{% block files_food %}

{% endblock %}
